html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%;
}
*
{
    font-family: 'Press Start 2P', sans-serif;
}



#play-buttons button{
    font-size: 24px;
    border: solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0,0); 
    height: 75px;
}

#play-buttons button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25)
}

#play-buttons button:active{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5)
}


#play-buttons {
   display: flex;
   gap: 10px;
}

#wrapper
{
    display: flex;
    background-color: beige;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    height: 600px;
    width: 600px;
    border-radius: 25px;
    gap:200px;
}

#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

#played-round {
    display: flex;
    flex-direction: column;
}

#player-score
{
    padding-right: 50px;
}

#player-choice, #pc-choice{
    font-weight: bold;
}

#announce-winner {
    font-weight: bold;
}

